{% extends "base.html" %}

{% block body %}
    <h1>Your Life Progress - {{ g.weeks_spent / g.total_weeks * 100 | round(1) }}%</h1>
    <form action="/calendar" method="post">
        <select name="lens_selector" onchange="this.form.submit()">
            {% for lens_id, lens_details in lenses.items() %}
            <option value="{{ lens_id }}" {% if lens_id == current_lens %}selected{% endif %}>
                {{ lens_details.name }}
            </option>
            {% endfor %}
        </select>
    </form>
    <div style="display: flex; flex-wrap: wrap; margin-top: 20px;">
        {% for week in range(g.total_weeks) %}
        <div style="width: 10px; height: 10px; background-color: {{ lenses[current_lens]['color'] if week < g.weeks_spent else '#D3D3D3' }}; margin: 1px;"></div>
        {% endfor %}
    </div>
{% endblock %}
